extends layout

block content

  div
  div
    ul(data-role='listview',data-filter='true',data-input='#test')  
      each addr in addresses
        li database ID: #{addr._id}
        li Etunimi: #{addr.firstname}
        li Sukunimi: #{addr.lastname}
        li Osoite: #{addr.address}
        li puhelin: #{addr.phone}
